<% include _header%>
<% if ((currentUser)) { %>
<a href="/edit" class="pull-right">Edit your profile</a>
<% } %>
<h1><%= user.name() %></h1>
<h3>joined on <%= user.createdAt%> </h3>
<p><%= user.bio %></p>
<% include _footer%>