<% include _header%>
<form method="post" action="/signup" class="form">
    <input type="text" class="form-control" name="username" />
    <input type="password" class="form-control" name="password" />
    <input type="submit" class="btn btn-primary" value="Signup" />
</form>
<% include _footer%>